<div class="page-header">
    <h4 class="page-title">Add New Company Master</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>

<div class="payment-modal newbooking-module">
    <!-- Left Side Content -->
    <section class="table-section-outer">
        <div class="customer-field-outer">
          <div class="field-row">
            <div class="form-col">
                <label>Code<sup>*</sup></label>
              <input matInput name="" type="number" placeholder="Code">
            </div>
              <div class="form-col">
                  <label>Company Name<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Company Name">
              </div>
              <div class="form-col">
                  <label>Address<sup>*</sup></label>
                  <input matInput name="" type="mail" placeholder="Address">
              </div>
              <div class="form-col">
                  <label>Email</label>
                  <input matInput name="" type="number" placeholder="Email">
              </div>
              <div class="form-col">
                  <label>Phone<sup>*</sup></label>
                  <input matInput name="" type="numbet" placeholder="Phone">
              </div>
              <div class="form-col">
                  <label>Tax<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Tax">
              </div>
            <div class="form-col form-button-col text-center">
              <button mat-button>Update</button>
            </div>
          </div>
        </div>
    </section>
  </div>