<div class="page-header">
    <h4 class="page-title">Edit Product Department</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>

<div class="payment-modal newbooking-module">
    <!-- Left Side Content -->
    <section class="table-section-outer">
        <div class="customer-field-outer">
          <div class="field-row">
            <div class="form-col">
                <label>Department Key<sup>*</sup></label>
              <input matInput name="" type="number" placeholder="Department Key">
            </div>
              <div class="form-col">
                  <label>Department Code<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Department Code">
              </div>
              <div class="form-col">
                  <label>Department Name<sup>*</sup></label>
                  <input matInput name="" type="mail" placeholder="Department Name">
              </div>
            <div class="form-col form-button-col text-center">
              <button mat-button>Update</button>
            </div>
          </div>
        </div>
    </section>
  </div>