<div class="page-header">
    <h4 class="page-title">Add New Product</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>

<div class="payment-modal newbooking-module">
    <!-- Left Side Content -->
    <section class="table-section-outer">
        <div class="customer-field-outer">
          <div class="field-row">
            <div class="form-col">
                <label>Key<sup>*</sup></label>
              <input matInput name="" type="number" placeholder="Key">
            </div>
              <div class="form-col">
                  <label>Barcode<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Barcode">
              </div>
              <div class="form-col">
                  <label>Product Name<sup>*</sup></label>
                  <input matInput name="" type="mail" placeholder="Product Name">
              </div>
              <div class="form-col">
                  <label>Dept</label>
                  <input matInput name="" type="number" placeholder="Dept">
              </div>
              <div class="form-col">
                  <label>Category<sup>*</sup></label>
                  <input matInput name="" type="numbet" placeholder="Category">
              </div>
              <div class="form-col">
                  <label>Type<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Type">
              </div>
              <div class="form-col">
                  <label>Description</label>
                  <input matInput name="" type="text" placeholder="Description">
              </div>
              <div class="form-col">
                  <label>Time Req</label>
                  <input matInput name="" type="text" placeholder="Time Req">
              </div>
              <div class="form-col">
                  <label>Price</label>
                  <input matInput name="" type="text" placeholder="Price">
              </div>
              <div class="form-col">
                  <label>Price 02<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Price 02">
              </div>
              <div class="form-col">
                  <label>Price 03<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Price 03">
              </div>
              <div class="form-col">
                  <label>PosdCost</label>
                  <input matInput name="" type="text" placeholder="PosdCost">
              </div>
              <div class="form-col">
                  <label>Staff Name</label>
                  <input matInput name="" type="text" placeholder="Staff Name">
              </div>
              <div class="form-col">
                  <label>Product Iamge</label>
                  <input name="" type="file">
              </div>
              <div class="form-col">
                  <label>Date of Birth</label>
                  <input matInput name="" type="date" placeholder="Date of Birth">
              </div>
              <div class="form-col">
                  <label>Prodlcon Name<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Prodlcon Name">
              </div>
              <div class="form-col">
                  <label>ProdVideo Path</label>
                  <input matInput name="" type="text" placeholder="ProdVideo Path">
              </div>
              <div class="form-col">
                  <label>Other Language Name</label>
                  <input matInput name="" type="text" placeholder="Other Language Name">
              </div>
            <div class="form-col form-button-col text-center">
              <button mat-button>Update</button>
            </div>
          </div>
        </div>
    </section>
  </div>