<div class="page-header">
    <h4 class="page-title">Add New Customer</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>

<div class="payment-modal newbooking-module">
  <!-- Left Side Content -->
  <section class="table-section-outer">
      <div class="customer-field-outer">
        <div class="field-row">
          <div class="form-col">
              <label>Code<sup>*</sup></label>
            <input matInput name="" type="number" placeholder="Code">
          </div>
            <div class="form-col">
                <label>Name<sup>*</sup></label>
                <input matInput name="" type="text" placeholder="Name">
            </div>
            <div class="form-col">
                <label>Email<sup>*</sup></label>
                <input matInput name="" type="mail" placeholder="Email">
            </div>
            <div class="form-col">
                <label>Phone</label>
                <input matInput name="" type="number" placeholder="Phone">
            </div>
            <div class="form-col">
                <label>Mobile<sup>*</sup></label>
                <input matInput name="" type="numbet" placeholder="Mobile">
            </div>
            <div class="form-col">
                <label>Address<sup>*</sup></label>
                <input matInput name="" type="text" placeholder="Address">
            </div>
            <div class="form-col">
                <label>Address 2</label>
                <input matInput name="" type="text" placeholder="Address 2">
            </div>
            <div class="form-col">
                <label>Address 3</label>
                <input matInput name="" type="text" placeholder="Address 3">
            </div>
            <div class="form-col">
                <label>Address 4</label>
                <input matInput name="" type="text" placeholder="Name">
            </div>
            <div class="form-col">
                <label>Country<sup>*</sup></label>
                <input matInput name="" type="text" placeholder="Country">
            </div>
            <div class="form-col">
                <label>Name Arabic<sup>*</sup></label>
                <input matInput name="" type="text" placeholder="Name Arabic">
            </div>
            <div class="form-col">
                <label>Credit Limit</label>
                <input matInput name="" type="text" placeholder="Credit Limit">
            </div>
            <div class="form-col">
                <label>Opening Balance</label>
                <input matInput name="" type="text" placeholder="Opening Balance">
            </div>
            <div class="form-col">
                <label>Discount%</label>
                <input matInput name="" type="text" placeholder="Discount%">
            </div>
            <div class="form-col">
                <label>Date of Birth</label>
                <input matInput name="" type="date" placeholder="Date of Birth">
            </div>
            <div class="form-col">
                <label>Gender<sup>*</sup></label>
                <input matInput name="" type="text" placeholder="Gender">
            </div>
            <div class="form-col">
                <label>Remarks</label>
                <input matInput name="" type="text" placeholder="Remarks">
            </div>
            <div class="form-col">
                <label>References</label>
                <input matInput name="" type="text" placeholder="References">
            </div>
          <div class="form-col form-button-col text-center">
            <button mat-button>Update</button>
          </div>
        </div>
      </div>
  </section>
</div>