$font-color: #4d4d4d;
$active-color: #4a148c;
$warn-color: #C62828;
$bg-overlay-color: #ECEEF2;
$box-effect: 0px 4px 25px rgb(0 0 0 / 6%);
$custom-font-weight: 500;
.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    height: 55px;
}
.mat-toolbar{
    img{
        width: 130px;
    }
}
.breadcrumb-outer{
    .breadcrumb {
        background-color: $bg-overlay-color;
        padding: 12px 30px;
        margin-bottom: 0;

        .breadcrumb-item {
            font-size: 15px;
            font-weight: $custom-font-weight;

            a {
                color: $active-color;
                text-decoration: none;
            }
        }
        .active{
            a{ color: $font-color;}
        }
    }
}
.main-outer{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .table-section-outer{
        width: 700px;
        .table-section{
            box-shadow: $box-effect;
            border-radius: 8px;
            height: 300px;
            overflow: auto;
            table{
                width: 100%;
                th{
                    background-color: $active-color;
                    color: #fff;
                    vertical-align: middle;
                    border: unset;
                    font-size: 13px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                td{
                    font-size: 13px;
                    color: $font-color;
                    padding-right: 10px;
                    padding-left: 10px;
                    
                }.action-delete{
                    color: $warn-color;
                    cursor: pointer;
                }
                .mat-table-sticky {
                    border-top: 1px solid #e0e0e0;
                }    
            }
            
        }
        .payment-table{
            box-shadow: $box-effect;
            margin-top: 15px;
            border-radius: 8px;
            border: 1px solid #ccc;
            mat-card-title{
                font-size: 15px;
                color: $active-color;
                margin-bottom: 5px;
            }
            .payment-option-col{
                background-color: $bg-overlay-color;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                border-radius: 5px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                .total-col{
                    p{
                        font-size: 13px;
                        color: $font-color;
                        margin-bottom: 5px;
                        font-weight: $custom-font-weight;
                    }
                    span{
                        width: 100px;
                        text-align: right;
                        display: block;
                        float: right;
                    }
                }
            }
            .paid-total {
                text-align: right;
                padding: 10px;
                border-bottom: 1px solid #c3c3c3;
                p{
                    color: $font-color;
                    font-weight: bold;
                    margin-bottom: 0;
                    span{
                        margin-left: 40px;
                    }
                }
            }
            .balance-total{
                padding: 15px 10px;
                text-align: right;
                padding-bottom: 0;
                p{
                    font-size: 25px;
                    color: $active-color;
                    font-weight: bold;
                    margin-bottom: 0;
                    span{
                        margin-left: 50px;
                    }
                }
            }
        }
    }
    .payment-section{
        display: flex;
        flex-wrap: wrap;
        width: 44.8%;
        justify-content: space-between;
        .amount-section{
            box-shadow: $box-effect;
            border-radius: 8px;
            border: 1px solid #ccc;
            width: 380px;
            .enter-amount-section{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                input{
                    height: 40px;
                    width: 78%;
                    border-radius: 5px 0 0 5px;
                    background-color: $active-color;
                    color: #fff;
                    padding: 0 15px;
                    border: 1px solid #ccc;
                    outline: unset;
                    border-right: unset;
                }::placeholder{
                    color: #fff;
                }
                button{
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                    padding: 0 11px;
                    height: 40px;
                    border-radius: 0px 5px 5px 0px;
                    border: 1px solid #ccc;
                    background: $warn-color;
                    width: 76px;
                    border-left: unset;
                }
            }
            .number-table{
                margin-top: 15px;
                .number-row{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    .number-col{
                        background-color: $bg-overlay-color;
                        border: 1px solid #cccc;
                        font-size: 18px;
                        font-weight: bold;
                        width: 105px;
                        text-align: center;
                        padding: 15px;
                        border-radius: 3px;
                    }  
                }
                .card-option{
                    border: unset;
                    mat-button-toggle{
                        border-radius: 3px;
                        font-size: 14px;
                        border: 1px solid #ccc;
                        font-weight: $custom-font-weight;
                        margin-top: 15px;
                    }
                }
                .refund-option{
                    mat-button-toggle{
                        background-color: $font-color;
                        color: #fff;
                    }
                    .number-col{
                        background-color: $font-color;
                        font-size: 14px;
                        border-radius: 3px;
                        border: 1px solid #ccc;
                        color: #fff;
                        font-weight: $custom-font-weight;
                        padding: 8px;
                    }
                    .cancel-col{
                        width: 225px;
                        background-color: $warn-color;
                    }
                }
            }
        }
        .quick-section{
            width: 185px;
            h3{
                text-align: center;
                border-bottom: 1px solid #ccc;
                padding-bottom: 9px;
                font-size: 16px;
                color: $font-color;
                font-weight: bold;
            }
            button{
                background-color: #fff;
                border: 1.5px solid $active-color;
                color: $active-color;
                font-size: 13px;
                font-weight: 500;
                border-radius: 5px;
                margin-bottom: 13px;
                width: 100%;
            }
        }
        .action-btn{
            width: 100%;
            column-gap: 19px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            button{
                background-color: #fff;
                border: 2px solid $warn-color;
                color: $warn-color;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
                width: 31%;
                padding: 8px;
            }:nth-last-child(1){
                background-color: $active-color;
                color: #fff;
                border-color: $active-color;
            }:nth-last-child(2){
                color: $active-color;
	            border-color: $active-color;
            }
        }
    }
}
  
::-webkit-scrollbar {
    background-color: $font-color;
    width: 3px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: $active-color;
    width: 3px;
    border-radius: 5px;
}
