<div class="page-header">
    <h4 class="page-title">Edit Customer Master</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>

<div class="payment-modal newbooking-module">
    <!-- Left Side Content -->
    <section class="table-section-outer">
        <div class="customer-field-outer">
          <div class="field-row">
            <div class="form-col">
                <label>Customer Key<sup>*</sup></label>
              <input matInput name="" type="number" placeholder="Customer Key">
            </div>
              <div class="form-col">
                  <label>Customer Code<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Customer Code">
              </div>
              <div class="form-col">
                  <label>Customer Name<sup>*</sup></label>
                  <input matInput name="" type="mail" placeholder="Customer Name">
              </div>
              <div class="form-col">
                  <label>Gender</label>
                  <input matInput name="" type="number" placeholder="Gender">
              </div>
              <div class="form-col">
                  <label>Credit Limit<sup>*</sup></label>
                  <input matInput name="" type="numbet" placeholder="Credit Limit">
              </div>
              <div class="form-col">
                  <label>Email<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Email">
              </div>
              <div class="form-col">
                  <label>Mobile<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Mobile">
              </div>
              <div class="form-col">
                  <label>Discount%<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Discount%">
              </div>
            <div class="form-col form-button-col text-center">
              <button mat-button>Update</button>
            </div>
          </div>
        </div>
    </section>
  </div>