<div class="page-header">
    <h4 class="page-title">Add New Product</h4>
    <button mat-button mat-dialog-close>&times;</button>
</div>

<div class="payment-modal newbooking-module">
    <!-- Left Side Content -->
    <section class="table-section-outer">
        <div class="customer-field-outer">
          <div class="field-row">
            <div class="form-col">
                <label>Product Key<sup>*</sup></label>
              <input matInput name="" type="number" placeholder="Product Key">
            </div>
              <div class="form-col">
                  <label>Product Code<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Product Code">
              </div>
              <div class="form-col">
                  <label>Product Name<sup>*</sup></label>
                  <input matInput name="" type="mail" placeholder="Product Name">
              </div>
              <div class="form-col">
                  <label>Description</label>
                  <input matInput name="" type="number" placeholder="Description">
              </div>
              <div class="form-col">
                  <label>Department<sup>*</sup></label>
                  <input matInput name="" type="numbet" placeholder="Department">
              </div>
              <div class="form-col">
                  <label>Category<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Category">
              </div>
              <div class="form-col">
                  <label>Type<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Type">
              </div>
              <div class="form-col">
                  <label>Price<sup>*</sup></label>
                  <input matInput name="" type="text" placeholder="Price">
              </div>
              <div class="form-col">
                <label>Price<sup>*</sup></label>
                <input matInput name="" type="text" placeholder="Price">
            </div>
            <div class="form-col form-button-col text-center">
              <button mat-button>Update</button>
            </div>
          </div>
        </div>
    </section>
  </div>