@import '../../../../newbooking/newbooking.component.scss';
.payment-modal{
    .table-section-outer{
        width: 100% !important;
        .field-row{
            justify-content: unset;
            column-gap: 12px;
            .form-col{
                // width: 17% !important;
                button{
                    border-radius: 5px !important;
                }
            }
            .form-button-col{
                width: 100% !important;
                margin-bottom: 0;
            }
        }
    }
}